<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hose_plate">
  <material name="light_black">
    <color rgba="0.1 0.1 0.1 1.0" />
  </material>
  <link name="base_footprint"/>
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin rpy="0 0 0" xyz="0 0 0.010"/>
    </joint>
    <link name="base_link">
        <visual>
            <origin rpy="1.57 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://week5_model/mesh/hose/Base(E).stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="light_black"/>
        </visual>
        <collision>
            <origin rpy="1.57 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://week5_model/mesh/hose/Base(E).stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
    <joint name="top_joint" type="fixed">
        <parent link="base_link"/>
        <child link="top_link"/>
        <origin rpy="0 0 0" xyz="0 0 -20"/>
    </joint>
    <link name="top_link">
        <visual>
            <origin rpy="1.57 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://week5_model/mesh/hose/Top(I).stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="light_black"/>
        </visual>
        <collision>
            <origin rpy="1.57 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://week5_model/mesh/hose/Top(I).stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
</robot>